@*****************************************************************************************
 * ⚡ LAYOUT: _ConfirmacaoLayout
 * --------------------------------------------------------------------------------------
 * 🎯 OBJETIVO     : Layout específico para a página de confirmação de senha da Redecamara.
 *                   Fornece estrutura visual com logo, mensagem de boas-vindas e barra
 *                   de progresso para o processo de autenticação.
 *
 * 📥 ENTRADAS     : @RenderBody() - Conteúdo da página que utiliza este layout.
 *
 * 📤 SAÍDAS       : HTML - Renderiza página completa com cabeçalho, corpo e scripts.
 *
 * 🔗 CHAMADA POR  : Pages que usam Layout = "_ConfirmacaoLayout" (ex: ConfirmarSenha.cshtml)
 *
 * 🔄 CHAMA        : Scripts JS: neon-confirmaemail.js, neon-custom.js, neon-demo.js
 *
 * 📦 DEPENDÊNCIAS : Bootstrap 3, jQuery 1.11.3, jQuery UI, GSAP/TweenMax, Neon Theme,
 *                   FontAwesome Pro
 *
 * 📝 OBSERVAÇÕES  : Layout com tema escuro (login-form-fall), barra de progresso fixa
 *                   em 3%, mensagem específica para confirmação de senha Redecamara.
 *****************************************************************************************@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Neon Admin Panel" />
    <meta name="author" content="" />

    <link rel="icon" href="~/Neon/images/favicon.ico">

    <title>FrotiX | Login</title>

    <link rel="stylesheet" href="~/Neon/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="~/Neon/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="~/Neon/css/bootstrap.css">
    <link rel="stylesheet" href="~/Neon/css/neon-core.css">
    <link rel="stylesheet" href="~/Neon/css/neon-theme.css">
    <link rel="stylesheet" href="~/Neon/css/neon-forms.css">
    <link rel="stylesheet" href="~/Neon/css/custom.css">
    <link href="~/lib/fontawesome-pro/css/all.css" rel="stylesheet" />

    <script src="~/Neon/js/jquery-1.11.3.min.js"></script>


</head>
<body class="page-body login-page login-form-fall">


    <script type="text/javascript">var baseurl = '';</script>


    @* [DOC] Cabeçalho do login com logo centralizado e mensagem de boas-vindas específica
            para confirmação de senha da Redecamara *@
    <div class="login-header login-caret">

        <div class="container-fluid">
            <div class="row text-center">
                <div class="col">

                    <a href="#" class="logo">
                        <img src="~/Images/frotix.png" width="500" alt="" align="middle" />
                        <h4 style="color:#ffffff !important;"></h4>
                    </a>
                    <br />
                    <p class="description">Prezado usuário, confirme sua senha da Redecamara para acesso ao FrotiX!</p>

                    @* [DOC] Indicador fixo de progresso em 3% - visual estático para UX durante carregamento *@
                    <div class="login-progressbar-indicator">
                        <h3>3%</h3>
                        <span>logando...</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @* [DOC] Barra de progresso visual (elemento gráfico) *@
    <div class="login-progressbar">
        <div></div>
    </div>

    @* [DOC] Container principal onde é renderizado o formulário de confirmação via @RenderBody() *@
    <div class="login-form">

        @RenderBody()

    </div>




    <!-- Bottom scripts (common) -->
    <script src="~/Neon/js/gsap/TweenMax.min.js"></script>
    <script src="~/Neon/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="~/Neon/js/bootstrap.js"></script>
    <script src="~/Neon/js/joinable.js"></script>
    <script src="~/Neon/js/resizeable.js"></script>
    <script src="~/Neon/js/neon-api.js"></script>
    <script src="~/Neon/js/jquery.validate.min.js"></script>
    @*<script src="~/Neon/js/neon-login.js"></script>*@
    <script src="~/Neon/js/neon-confirmaemail.js"></script>


     @*JavaScripts initializations and stuff*@ 
    <script src="~/Neon/js/neon-custom.js"></script>


     @*Demo Settings*@ 
    <script src="~/Neon/js/neon-demo.js"></script>

</body>
</html>