@* ****************************************************************************************
 * ⚡ ARQUIVO: Pages/TaxiLeg/PBITaxiLeg.cshtml
 * --------------------------------------------------------------------------------------
 * 🎯 OBJETIVO     : Página de dashboard Power BI embedded para "Frotix Atualizado - Relatório
 *                   por Veículo" (TáxiLeg). Exibe relatório interativo em iframe 900px altura.
 * 📥 ENTRADAS     : @page route /TaxiLeg/PBITaxiLeg, @model FrotiX.Pages.Viagens.TaxiLegModel
 *                   (code-behind), ViewData configuration, Power BI embed URL
 *                   (https://app.powerbi.com/view?r=eyJrIjoiMTZlMzQwYWEtYWFhMy00YzNjLWEzMGYtYWZlYjczYjk3NGMwIiwidCI6ImIwNmM0MGIzLWM5MGItNGYwYS1hNWVjLTlkZTRmMGQzMTEzMCJ9)
 * 📤 SAÍDAS       : <iframe> 100% width, 900px height, frameborder="0", allowFullScreen, title
 *                   "Frotix Atualizado - Relatório por Veículo", panel-content wrapper (#divPainel)
 * 🔗 CHAMADA POR  : Link no menu "Gráficos > TáxiLeg", route /TaxiLeg/PBITaxiLeg, sidebar navigation
 * 🔄 CHAMA        : TaxiLegModel.OnGet() (code-behind), Power BI embed URL, @Html.AntiForgeryToken(),
 *                   Syncfusion.EJ2 TagHelpers (importado mas NÃO usado), ViewData breadcrumb/heading
 *                   rendering, CSS classes (panel, panel-container show, panel-content)
 * 📦 DEPENDÊNCIAS : ASP.NET Core Razor Pages, TaxiLegModel (FrotiX.Pages.Viagens.TaxiLegModel),
 *                   Power BI embedded (app.powerbi.com), @Html.AntiForgeryToken, Syncfusion.EJ2
 *                   (importado mas não usado), CSS classes panel/panel-container (do tema)
 * 📝 OBSERVAÇÕES  : 27 linhas. Estrutura IDÊNCIA à Manutencao/PBILavagem.cshtml (mesmo padrão).
 *                   @addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers duplicado (já em _ViewImports).
 *                   Syncfusion.EJ2 importado mas NÃO há componentes EJ2 na página (desnecessário).
 *                   ViewData config:
 *                   - Title: "TáxiLeg"
 *                   - PageName: "taxileg_pbitaxileg"
 *                   - Heading: "<i class='fa-duotone fa-taxi'></i> Gráficos: <span class='fw-300'>TáxiLeg</span>"
 *                   - PageIcon: "fa-duotone fa-taxi"
 *                   Power BI embed URL com token read-only diferente do PBILavagem (workspace/relatório
 *                   diferente). Altura fixa 900px (mesmo problema responsividade). Namespace correto:
 *                   TaxiLegModel em FrotiX.Pages.Viagens (diferente de PBILavagem que usa modelo errado).
 **************************************************************************************** *@
@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using Syncfusion.EJ2
@model FrotiX.Pages.Viagens.TaxiLegModel
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "TáxiLeg";
    ViewData["PageName"] = "taxileg_pbitaxileg";
    ViewData["Heading"] = "<i class='fa-duotone fa-taxi'></i> Gráficos: <span class='fw-300'>TáxiLeg</span>";
    ViewData["Category1"] = "Gráficos";
    ViewData["PageIcon"] = "fa-duotone fa-taxi";
}


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div id="divPainel" class="panel-content">

                    <iframe title="Frotix Atualizado - Relatório por Veículo" width="100%" height="900" src="https://app.powerbi.com/view?r=eyJrIjoiMTZlMzQwYWEtYWFhMy00YzNjLWEzMGYtYWZlYjczYjk3NGMwIiwidCI6ImIwNmM0MGIzLWM5MGItNGYwYS1hNWVjLTlkZTRmMGQzMTEzMCJ9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
    </div>
</div>

