@*****************************************************************************************
 * ⚡ ARQUIVO: Logout.cshtml
 * --------------------------------------------------------------------------------------
 * 🎯 OBJETIVO     : Página de confirmação de logout com opções de navegação pós-saída.
 *
 * 📥 ENTRADAS     : returnUrl (query string) para retorno opcional.
 *
 * 📤 SAÍDAS       : HTML com mensagem de sucesso e botões (Login, Register, Retornar).
 *
 * 🔗 CHAMADA POR  : LogoutModel (GET/POST /Account/Logout).
 *
 * 🔄 CHAMA        : Links para /Account/Login, /Account/Register e returnUrl decodificada.
 *
 * 📦 DEPENDÊNCIAS : Razor Pages, System.Web (HttpUtility), Bootstrap.
 *
 * 📝 OBSERVAÇÕES  : returnUrl é decodificada e assume "/" quando ausente.
 *****************************************************************************************@
@page
@using System.Web
@model LogoutModel
@{
    ViewData["PageName"] = "logout";
    ViewData["Title"] = "Log out";
    // [DOC] Decodifica returnUrl da query string (padrão "/" se não fornecido)
    var action = HttpUtility.UrlDecode(Request.Query["returnUrl"].FirstOrDefault()) ?? "/";
}

@* [DOC] Card centralizado com mensagem de sucesso de logout *@
<div class="col-xl-6 ml-auto mr-auto">
    <div class="p-4 text-center text-white">
        <h3>You have successfully logged out of the application.</h3>
        <p>You are advised to close your browser for security purposes.</p>
    </div>

    @* [DOC] Botões de ação pós-logout (Login, Register, Retornar) *@
    <div class="row no-gutters">
        @* [DOC] Botão de Login (btn-azul) *@
        <div class="col-md-4 ml-auto text-left pr-1">
            <a class="btn btn-block btn-azul mt-3 btn-link text-white ml-auto border-0" asp-area="Identity" asp-page="/account/login">
                <i class="fal fa-shield-check fs-lg mr-1"></i> Secure Login
            </a>
        </div>

        @* [DOC] Botão de Registro (btn-verde) *@
        <div class="col-md-4 ml-auto text-right pl-1 pr-1">
            <a class="btn btn-block btn-verde bg-success-700 mt-3 btn-link text-white ml-auto border-0" asp-area="Identity" asp-page="/account/register">
                <i class="fal fa-user fs-lg mr-1"></i> Register account
            </a>
        </div>

        @* [DOC] Botão de Retornar à página anterior (btn-vinho) *@
        <div class="col-md-4 ml-auto text-right pl-1">
            <a class="btn btn-block btn-vinho bg-danger-700 mt-3 btn-link text-white ml-auto border-0" href="@action">
                <i class="fal fa-arrow-alt-left fs-lg mr-1"></i> Return to Previous
            </a>
        </div>
    </div>
</div>
