@* ****************************************************************************************
 * ⚡ ARQUIVO: Pages/Shared/_GoogleAnalytics.cshtml
 * --------------------------------------------------------------------------------------
 * 🎯 OBJETIVO     : Partial view que injeta o script do Google Analytics (Universal Analytics)
 *                   condicionalmente se Settings.Features.GoogleAnalytics = true. Tracking pageviews.
 * 📥 ENTRADAS     : Settings.Features.GoogleAnalytics (flag booleano), ViewBag.GoogleAnalytics
 *                   (tracking ID - formato UA-XXXXXXXX-X ou G-XXXXXXXXXX), window context
 * 📤 SAÍDAS       : <script> tag com Google Analytics code (analytics.js), ga('create', trackingID),
 *                   ga('send', 'pageview'), GoogleAnalyticsObject window property, tracking ativo
 * 🔗 CHAMADA POR  : Pages/Shared/_Layout.cshtml (provavelmente no <head> ou antes </body>),
 *                   @await Html.PartialAsync("_GoogleAnalytics") ou @Html.Partial
 * 🔄 CHAMA        : https://www.google-analytics.com/analytics.js (Google CDN - Universal Analytics),
 *                   ga() function (Google Analytics API), window.GoogleAnalyticsObject
 * 📦 DEPENDÊNCIAS : ASP.NET Core Razor Pages (Partial Views), SmartSettings injection (@Settings),
 *                   ViewBag.GoogleAnalytics (tracking ID configurado), Google Analytics script externo,
 *                   JavaScript nativo (IIFE, createElement, insertBefore)
 * 📝 OBSERVAÇÕES  : 10 linhas. Script condicional: só renderiza se Settings.Features.GoogleAnalytics = true.
 *                   Código oficial Google Analytics (Universal Analytics - analytics.js, NÃO GA4).
 *                   IIFE (Immediately Invoked Function Expression) para encapsular ga object.
 *                   @ViewBag.GoogleAnalytics contém tracking ID (provavelmente configurado no _Layout
 *                   ou via config). a.async=1 carrega script assincronamente. ga('create', ID, 'auto')
 *                   inicializa tracking, ga('send', 'pageview') envia pageview automático.
 *                   NOTA: Universal Analytics foi descontinuado (substituído por GA4 - gtag.js).
 **************************************************************************************** *@
@if (Settings.Features.GoogleAnalytics)
{
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', '@ViewBag.GoogleAnalytics', 'auto');
	  ga('send', 'pageview');
	</script>
}