@* ========================================================================================
 * ARQUIVO: Pages/Shared/_NavFooter.cshtml
 * OBJETIVO: Partial footer sidebar com botao minimizar menu e 3 botoes acao rapida com tooltips
 * ENTRADAS: Clique minimize (data-action toggle nav-function-minify), cliques botoes acao, Settings.Theme.IconPrefix
 * SAIDAS: div.nav-footer.shadow-top com botao chevron duplo, 3 botoes Font Awesome (comments/life-ring/phone),
 *         tooltips Bootstrap, toggle class nav-function-minify no body (minimiza sidebar)
 * CHAMADA POR: Pages/Shared/_LeftPanel.cshtml (partial comentado - DESABILITADO FrotiX), rodape sidebar
 * CHAMA: JavaScript data-action toggle handler, CSS nav-function-minify, Bootstrap tooltip, Settings.Theme.IconPrefix
 * DEPENDENCIAS: ASP.NET Core Razor (Partial Views), SmartSettings, Bootstrap 5 (tooltips), Font Awesome 6,
 *               NI icons (ni-chevron-right custom SmartAdmin), JavaScript data-action, CSS custom sidebar
 * OBSERVACOES: 23 linhas. Partial COMENTADO _LeftPanel - NAO usado FrotiX. Botao minimize hidden-md-down
 *              (telas grandes). Toggle nav-function-minify encolhe sidebar (width reduzida, texto escondido).
 *              3 botoes acao apontam javascript:void(0) (placeholders SmartAdmin sem acoes reais).
 *              Para reativar: descomentar _LeftPanel e implementar handlers (chat/suporte/chamada).
 *              NI icons ni-chevron-right sao custom SmartAdmin (nao Font Awesome).
 * REGRA: nunca use o simbolo arroba dentro deste bloco de comentario
 ======================================================================================== *@
<div class="nav-footer shadow-top">
	<a href="#" onclick="return false;" data-action="toggle" data-class="nav-function-minify" class="hidden-md-down">
		<i class="ni ni-chevron-right"></i>
		<i class="ni ni-chevron-right"></i>
	</a>
	<ul class="list-table m-auto nav-footer-buttons">
		<li>
			<a href="javascript:void(0);" data-bs-toggle="tooltip" data-placement="top" title="Chat logs">
				<i class="@(Settings.Theme.IconPrefix) fa-comments"></i>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" data-bs-toggle="tooltip" data-placement="top" title="Support Chat">
				<i class="@(Settings.Theme.IconPrefix) fa-life-ring"></i>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" data-bs-toggle="tooltip" data-placement="top" title="Make a call">
				<i class="@(Settings.Theme.IconPrefix) fa-phone"></i>
			</a>
		</li>
	</ul>
</div>
