<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <TargetFramework>net9.0</TargetFramework>
    <PublishDir>C:\inetpub\wwwroot\FrotiXApi\</PublishDir>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
</Project>