@page
@model FrotiX.Pages.Viagens.ItensPendentesModel
@{
    ViewData["Title"] = "Viagens com Itens Pendentes";
}

<div class="container">
    <h1 class="my-4">Viagens com Itens Pendentes</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Motorista</th>
                <th>Veículo</th>
                <th>Data da Viagem</th>
                <th>Itens Pendentes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ViagensComItensPendentes)
            {
                <tr>
                    <td>@item.Motorista.Nome</td>
                    <td>@item.Veiculo.Placa</td>
                    <td>@item.DataInicial.Value.ToString("dd/MM/yyyy")</td>
                    <td>
                        <ul>
                            @if (item.DocumentoEntregue == true && item.DocumentoDevolvido == false)
                            {
                                <li>Documento</li>
                            }
                            @if (item.CartaoAbastecimentoEntregue == true && item.CartaoAbastecimentoDevolvido == false)
                            {
                                <li>Cartão Abastecimento</li>
                            }
                            @if (item.CintaEntregue == true && item.CintaDevolvida == false)
                            {
                                <li>Cinta</li>
                            }
                            @if (item.TabletEntregue == true && item.TabletDevolvido == false)
                            {
                                <li>Tablet</li>
                            }
                            @if (item.ArlaEntregue == true && item.ArlaDevolvido == false)
                            {
                                <li>Arla</li>
                            }
                            @if (item.CaboEntregue == true && item.CaboDevolvido == false)
                            {
                                <li>Cabo</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
