@*****************************************************************************************
 * ⚡ ARQUIVO: _ConfirmacaoLayout.cshtml
 * --------------------------------------------------------------------------------------
 * 🎯 OBJETIVO     : Layout da página de confirmação de senha (tema Neon), com cabeçalho,
 *                   barra de progresso visual e container de formulário.
 *
 * 📥 ENTRADAS     : @RenderBody() - conteúdo das páginas que usam este layout.
 *
 * 📤 SAÍDAS       : HTML completo com estrutura, CSS e JS do tema Neon.
 *
 * 🔗 CHAMADA POR  : ConfirmarSenha.cshtml e outras páginas que definem Layout = "_ConfirmacaoLayout".
 *
 * 🔄 CHAMA        : neon-confirmaemail.js, neon-custom.js, neon-demo.js (scripts do tema).
 *
 * 📦 DEPENDÊNCIAS : Bootstrap 3, jQuery 1.11.3, GSAP/TweenMax, Neon Theme, FontAwesome.
 *
 * 📝 OBSERVAÇÕES  : Barra de progresso é fixa em 3% (efeito visual).
 *****************************************************************************************@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Neon Admin Panel" />
    <meta name="author" content="" />

    <link rel="icon" href="~/Neon/images/favicon.ico">

    <title>FrotiX | Login</title>

    <link rel="stylesheet" href="~/Neon/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="~/Neon/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="~/Neon/css/bootstrap.css">
    <link rel="stylesheet" href="~/Neon/css/neon-core.css">
    <link rel="stylesheet" href="~/Neon/css/neon-theme.css">
    <link rel="stylesheet" href="~/Neon/css/neon-forms.css">
    <link rel="stylesheet" href="~/Neon/css/custom.css">
    <!-- Font Awesome Pro 7 Kit (CDN) -->
    <script src="https://kit.fontawesome.com/afeb78ad1f.js" crossorigin="anonymous"></script>

    <script src="~/Neon/js/jquery-1.11.3.min.js"></script>


</head>
<body class="page-body login-page login-form-fall">


    <script type="text/javascript">var baseurl = '';</script>


    @* [DOC] Cabeçalho do login com logo centralizado e mensagem de boas-vindas específica
            para confirmação de senha da Redecamara *@
    <div class="login-header login-caret">

        <div class="container-fluid">
            <div class="row text-center">
                <div class="col">

                    <a href="#" class="logo">
                        <img src="~/Images/frotix.png" width="500" alt="" align="middle" />
                        <h4 style="color:#ffffff !important;"></h4>
                    </a>
                    <br />
                    <p class="description">Prezado usuário, confirme sua senha da Redecamara para acesso ao FrotiX!</p>

                    @* [DOC] Indicador fixo de progresso em 3% - visual estático para UX durante carregamento *@
                    <div class="login-progressbar-indicator">
                        <h3>3%</h3>
                        <span>logando...</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @* [DOC] Barra de progresso visual (elemento gráfico) *@
    <div class="login-progressbar">
        <div></div>
    </div>

    @* [DOC] Container principal onde é renderizado o formulário de confirmação via @RenderBody() *@
    <div class="login-form">

        @RenderBody()

    </div>




    <!-- Bottom scripts (common) -->
    <script src="~/Neon/js/gsap/TweenMax.min.js"></script>
    <script src="~/Neon/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="~/Neon/js/bootstrap.js"></script>
    <script src="~/Neon/js/joinable.js"></script>
    <script src="~/Neon/js/resizeable.js"></script>
    <script src="~/Neon/js/neon-api.js"></script>
    <script src="~/Neon/js/jquery.validate.min.js"></script>
    @*<script src="~/Neon/js/neon-login.js"></script>*@
    <script src="~/Neon/js/neon-confirmaemail.js"></script>


     @*JavaScripts initializations and stuff*@ 
    <script src="~/Neon/js/neon-custom.js"></script>


     @*Demo Settings*@ 
    <script src="~/Neon/js/neon-demo.js"></script>

</body>
</html>
